$rem: 360px;
@function px2rem($px) {
  @return $px / $rem * 1rem;
}

.icon {
  width: 2.5em;
  height: 2.5em;
  vertical-align: -0.15em;
  fill: white;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #3987D5;
}
html{
  width: px2rem(360px);
  height: 100vh;
}
body {
  font-size: 14px;
  color: black;
  line-height: 1.2;
  width: px2rem(360px);
  height: 100vh;
}
main {
  width: px2rem(360px);
  section>h1{
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    line-height: px2rem(50px);
    background: linear-gradient(45deg, rgba(16,17,61,1) 0%,rgba(14,14,14,1) 100%);
    text-align: center;
  }
  .pag-rank,{
    display: none;
    height: 100vh;
    .movie-wrapper{
      position: absolute;
      left: 0;
      right: 0;
      top: px2rem(50px);
      overflow: auto;
      height: 90vh;
      .introduce{
        border-bottom: 1px dashed #DEE1E6;
        padding-bottom: px2rem(5px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        .number-movie {
          font-size: px2rem(20px);
          font-weight: bold;
          height: px2rem(30px);
          width: px2rem(20px);
        }
        img{
          padding: px2rem(5px);
          width: px2rem(100px);
          height: px2rem(148px);
        }
        .extra {
          display: inline-block;
          a,p{
            padding-top: px2rem(10px);
            width: px2rem(192px);
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
          }
        }
      }
    }
  }
  .pag-USMovie{
    display: none;
    height: 100vh;
    .movie-wrapper{
      position: absolute;
      left: 0;
      right: 0;
      top: px2rem(50px);
      overflow: auto;
      height: 90vh;
      .introduce1{
        border-bottom: 1px dashed #DEE1E6;
        padding-bottom: px2rem(5px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        .number-movie {
          font-size: px2rem(20px);
          font-weight: bold;
          height: px2rem(30px);
          width: px2rem(20px);
        }
        img{
          padding: px2rem(5px);
          width: px2rem(100px);
          height: px2rem(148px);
        }
        .extra {
          display: inline-block;
          a,p{
            padding-top: px2rem(10px);
            width: px2rem(192px);
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
          }
        }
      }
    }
  }
  .pag-seach {
    display: block; 
    height: 100vh; 
    .seach-wrapper{
    background: linear-gradient(45deg, rgba(16,17,61,1) 0%,rgba(14,14,14,1) 100%);
      .seach-wrapper1{
        div{
          width: px2rem(250px);
          padding: px2rem(10px);
          color: white;
          font-size: px2rem(20px);
        .logo{
          font-size: px2rem(12px);
          margin: px2rem(5px);
        }
          display: flex;
          justify-content: center;
          align-items: center;
          span{
            display:flex;
            justify-content: center;
            align-items: center;
          }
        }
        form{
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          padding-bottom: px2rem(20px);
          input{
            width: px2rem(200px);
            line-height: px2rem(20px);
            outline: none;
          }
          .logo1{
            margin-left: px2rem(10px);
            font-size: px2rem(10px);
          }
        }
      }
    }
    .movie-wrapper{
      border: 1px solid red;
      height: 80vh;
      overflow: auto;
    .introduce3{
      border-bottom: 1px dashed #DEE1E6;
      padding-bottom: px2rem(5px);
      display: flex;
      justify-content: space-around;
      align-items: center;
      .number-movie {
        font-size: px2rem(20px);
        font-weight: bold;
        height: px2rem(30px);
        width: px2rem(20px);
      }
      img{
        padding: px2rem(5px);
        width: px2rem(100px);
        height: px2rem(148px);
      }
      .extra {
        display: inline-block;
        a,p{
          padding-top: px2rem(10px);
          width: px2rem(192px);
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow:ellipsis;
        }
      }
    }
    }
  }
  
}
footer {
  height: 10vh;
  position: fixed;
  bottom: 5vh;
  left: 0;
  display: flex;
  div {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    .svg-wrapper{
      height: 45px;
      width: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.5)
    }
  }
  .btn-rank{
    padding-left: 30px;
  }
  
}


footer .active {
  background-color: black;
}




.casts {
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
@media(max-width:768px){
  .casts {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 30vh;
  }
}
.evaluate {
  color: red;
}
.loading{
  padding: 5px;
  text-align: center;
}
.loading>.icon {
  display: none;
  fill: black;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loading>.active{
  display: inline-block;
}
@keyframes loading{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
